build/
secret/*
# Ignore everything in media
media/*

# Allow demo assets
!media/miku windows.jpg
!media/Momoka singing scene - Girls Band Cry Episode 1.mp3
!media/dream dance.mp4

# Keep folder
!media/.gitkeep