:root {
  color-scheme: light dark;
  --bg-primary: light-dark(#ffffff, #121212);
  --text-primary: light-dark(#333333, #ffffff);
  --accent-color: light-dark(#0066cc, #99ccff);
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    display: flex;
    flex-direction: row;
    width: 100%;
}


.left-panel {
  flex: 1;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  padding-left: 10px;
}

.right-panel {
  flex: 0 0 300px;
  position: sticky;
}

.right-panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  flex-shrink: 0;
  display: flex;
}

.content-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  row-gap: 5px;
  overflow-y: auto;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}

.filename {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow-x: auto;
}

.menu-container {
    flex-shrink: 0;      
    margin-left: 8px;
    position: relative;
}

.menu-btn {
  cursor: pointer;
  background: none;
  border: none;
}

.menu {
  display: none;
  background-color: #333333;
  border-radius: 6px;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100px;
}

.menu button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
}

.menu button:hover {
  background-color: #686868;
}