<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/styles.css">
		<script src="/static/script.js" defer></script>
		<title>Media Server</title>
	</head>
	<body>
		<div class="left-panel">
			<h1>about</h1>
			<h2>awsm cpp http server</h2>
			
			<div class="text">
				A self-hosted multithraded http media streaming server written in C++.
				
				<ul>
					<li>Streams text, image, music and video files from the specified directory over HTTP</li>
					<li>Upload files, create new folders, delete files, rename files</li>
					<li>Supports HTTP GET and POST requests</li>
					<li>Uses POSIX TCP sockets</li>
					<li>Multithreaded architecture using thread pool</li>
				</ul>
			</div>
			
			<img src="/static/wait im goated.jpg" alt="kita goated" height="300" width="400">
		</div>

		<aside class="right-panel">
            <img src="/static/rei_ucc_coffee.png" alt="">
        </aside>
	</body>
</html>