<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/styles.css">
		<script src="/static/script.js" defer></script>
		<title>Media Server</title>
	</head>
	<body>
		<div class="left-panel">
			<div class="header">
				<div class="header-text">
					<h1>home</h1>
					
					<form action="{{CURR_DIR}}/upload" method="post" enctype="multipart/form-data">
						<input type="file" name="file">
						<input type="submit" value="upload">
					</form>

					<form action="{{CURR_DIR}}/mkdir" method="post">
						<input type="text" name="folder_name">
						<input type="submit" value="create folder">
					</form>

					<h2>directory listing for {{ROOT}}</h2>
				</div>

				<img src="/static/lain-dance.gif" alt="lain bustin it down, surreal style" width="150" height="150">
			</div>
			
			<div class="content-list">
				{{CONTENT_LIST}}
			</div>
		</div>

		<aside class="right-panel">
            <img src="/static/asuka_ucc_coffee.png" alt="">
        </aside>
	</body>
</html>