<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Media Server</title>
	</head>
	<body>
		<h1>home</h1>
		<img src="/static/lain-dance.gif" alt="lain bustin it down, surreal style">
		
		<form action="{{CURR_DIR}}/upload" method="post" enctype="multipart/form-data">
			<input type="file" name="file">
			<input type="submit" value="upload">
		</form>

		<form action="{{CURR_DIR}}/mkdir" method="post" enctype="multipart/form-data">
			<input type="text" name="mkdir">
			<input type="submit" value="create folder">
		</form>

		<h2>directory listing for {{ROOT}}</h2>
		<div>
    		{{CONTENT_LIST}}
		</div>
	</body>
</html>